<footer class="footer">

<div class="footer-container">

<div class="footer-box">
<h3>Hakkımızda</h3>
<p>MonsterMC, en kaliteli Minecraft deneyimini sunar.</p>
</div>

<div class="footer-box">
<h3>Bağlantılar</h3>
<a href="index.html">Ana Sayfa</a>
<a href="market.html">Market</a>
<a href="help.html">Yardım</a>
</div>

<div class="footer-box">
<h3>Sosyal</h3>
<a href="#">Discord</a>
<a href="#">YouTube</a>
<a href="#">TikTok</a>
</div>

<div class="footer-box">
<h3>Yasal</h3>
<a href="#">Gizlilik</a>
<a href="#">Şartlar</a>
</div>

</div>

<div class="footer-bottom">
© 2026 MonsterMC
</div>

<script>
loadComponent("modalContainer","modal.html");
loadComponent("notificationContainer","notification.html");
</script>


<div id="modalContainer"></div>
<div id="notificationContainer"></div>

<!-- LOADER COMPONENT -->
<div id="loaderContainer"></div>

<script>
loadComponent("loaderContainer","loader.html");
</script>


</footer>