<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="notification-container"></div>

<script>
loadComponent("modalContainer","modal.html");
loadComponent("notificationContainer","notification.html");
</script>


<div id="modalContainer"></div>
<div id="notificationContainer"></div>

<!-- LOADER COMPONENT -->
<div id="loaderContainer"></div>

<script>
loadComponent("loaderContainer","loader.html");
</script>


</body>
</html>

